<form action="" class="bg-white rounded-loginFormBr shadow-loginFormShadow">
  <div class="flex flex-col md:flex-row h-[50vh] md:w-[75vw] lg:w-[50vw]">

    <div
      class="left-container md:w-[50%] w-full sm:rounded-none md:rounded-rightBottomBr lg:rounded-rightBottomBr bg-loginFormBgBlue p-10 flex justify-center items-center flex-col">
      <h1 class="text-white my-2 text-center">Hello, Welcome!</h1>
      <h6 class="my-2 text-white text-center">Don't have an account?</h6>
      <button type="button" (click)="toggleForm()" class="border-2 border-white px-5 rounded py-1 text-white">Sign
        Up</button>
    </div>

    <div class="flex justify-center items-center flex-col p-4 w-full md:w-[50%]">
      <h1 class="my-2">Sign In</h1>

      <div class="relative mb-4 w-[70%]">
        <input type="text" placeholder="Username" formControlName="usernameOrEmail"
          class="block rounded-md bg-inputBgColor pr-10 pl-4 py-2 outline-0 w-full" />
        <i class="ri-user-line absolute right-3 top-1/2 transform -translate-y-1/2 text-gray-500"></i>
      </div>

      <div class="relative mb-4 w-[70%]">
        <input type="password" placeholder="Password" formControlName="password"
          class="block rounded-md bg-inputBgColor pr-10 pl-4 py-2 outline-0 w-full" />
        <i class="ri-lock-line absolute right-3 top-1/2 transform -translate-y-1/2 text-gray-500"></i>
      </div>

      <button type="button" (click)="toggleForm()"
        class="border-2 border-white px-5 rounded py-1 text-white bg-loginFormBgBlue">
        Sign Up
      </button>
    </div>

  </div>
</form>