form {
  z-index: 3;
  overflow: hidden;
}

.left-container {
  position: relative;
  margin-left: -70px;
  z-index: 1;

}

.left-container-content {
  position: absolute;
  /* Change from fixed to absolute */
  // transform: translate(-50%, -50%);
  // top: 50%;
  // left: 50%;
  // text-align: center;
  // overflow: hidden;
}


.right-container {
  position: absolute;
  /* Keep it absolute to align right */
  right: 0;
  /* Align to the right */
  top: 0;
  /* Align to the top */
  width: 50%;
  /* Maintain its width */
  height: 100%;
  /* Ensure it takes the full height of the parent */
  display: flex;
  /* Keep it visible until hidden */
  flex-direction: column;
  /* Arrange the content vertically */
  justify-content: center;
  /* Center content vertically */
  align-items: center;
  /* Center content horizontally */
  z-index: 0;
  /* Lower z-index to allow overlap */
}