<form action=""
  class="bg-white rounded-loginFormBr shadow-loginFormShadow flex flex-col md:flex-row h-[60vh] md:w-[70vw] xl:w-[50vw] relative">


  <!-- form-left-container -->
  <div class="left-container flex justify-center items-center flex-col p-4 w-full md:w-[50%]">
    <h1 class="my-2">Sign Up</h1>

    <!-- input -->
    <div class="relative mb-4 w-[70%]">
      <input type="text" placeholder="Username" formControlName="username"
        class="block rounded-md bg-inputBgColor pr-10 pl-4 py-2 outline-0 w-full" />
      <i class="ri-user-line absolute right-3 top-1/2 transform -translate-y-1/2 text-gray-500"></i>
    </div>

    <!-- input -->
    <div class="relative mb-4 w-[70%]">
      <input type="password" placeholder="Password" formControlName="password"
        class="block rounded-md bg-inputBgColor pr-10 pl-4 py-2 outline-0 w-full" />
      <i class="ri-lock-line absolute right-3 top-1/2 transform -translate-y-1/2 text-gray-500"></i>
    </div>

    <div class="relative mb-4 w-[70%]">
      <input type="password" placeholder="Confirm Password" formControlName="confirmPassword"
        class="block rounded-md bg-inputBgColor pr-10 pl-4 py-2 outline-0 w-full" />
      <i class="ri-lock-line absolute right-3 top-1/2 transform -translate-y-1/2 text-gray-500"></i>
    </div>

    <button type="button" class="bg-loginFormBgBlue w-[70%] rounded my-2 text-white py-2">Sign
      Up</button>
  </div>

  <!-- form-right-container -->
  <div
    class="right-container md:w-[60%] sm:rounded-none md:rounded-loginBr bg-loginFormBgBlue p-10 flex justify-center items-center flex-col">
    <div class="right-container-content text-center">
      <h1 class="text-white my-2 ">Welcome Back!</h1>
      <h6 class="my-2 text-white ">Already have an account?</h6>
      <button type="button" (click)="toggleForm()"
        class="border-2 cursor-pointer border-white px-5 rounded py-1 text-white">
        Sign In
      </button>
    </div>
  </div>

</form>