form {
    z-index: 3;
    overflow: hidden;
}



.left-container-content {

    /* Change from fixed to absolute */
    // text-align: center;
    // overflow: hidden;
}


.right-container {
    z-index: 1;
    margin-right: -100px;
}